@use './assets/vars' as * ;
@use './assets/mixins' as *;

body {
    // background-color: teal;
    overflow: hidden;
}

.showMe {
    background-image: url('/images/BaW_plants.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    
}

.darkoverlay {
    position: absolute;
    z-index: 1050;
    top: -50%;
    left: -50%;
    height: 200vw;
    width: 200vw;
    border-radius: 100%;
    background: $overlay-grad;
    @include backgroundSpin($overlay-spin);
    overflow: hidden;
}

// .makemetop {
//     position: absolute;
//     z-index: 2000;
//     height: 300px;
//     width: 500px;
//     background-color: rgba(255, 255, 255, 0.062);
// }
