@use './assets/vars' as * ;
@use './assets/mixins' as *;

body {
    // background-color: teal;
    overflow: hidden;
}

.showMe {
    background-image: url('/images/BaW_plants.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; // Can probably be removed later
    width: 100vw;
    overflow: hidden;
    position: sticky;
    top: 0px;
    left: 0px;
}

.darkoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: $overlay-grad;
}

.titleText {
    color: $white-color;
    & > * {
        text-align: center;
    }
    h1 {
        @include hOne;
    }
    h2 {
        @include hTwo;
    }
    h3 {
        @include hThree;
    }
}