@use './assets/vars' as * ;
@use './assets/mixins' as *;

.BB {
    border: solid 2px blue;
}

.BR {
    border: solid 2px red;
}


body {
    // background-color: teal;
    // overflow: hidden;
}

p, i {
    color: $white-color;
}

.showMe {
    background-image: url('../images/BaW_plants_mid_crop.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; // Can probably be removed later
    width: 100vw;
    overflow: hidden;
    position: sticky;
    top: 0px;
    left: 0px;
}

.darkoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: $overlay-grad;
    box-shadow: $box-shadow-2;
}

.titleText {
    color: $white-color;
    & > * {
        text-align: center;
    }
    h1 {
        @include hOne;
    }
    h2 {
        @include hTwo;
    }
    h3 {
        @include hThree;
    }
}

.mainButt {
    @include mainButt;
    &:hover {
        border: solid 2px $dark-color;
    }
    
}

.prodCard {
    // background-color: rgba($color: $light-color, $alpha: .2);
    &:hover {
        cursor: pointer;
    }
}

.bar {
  @include spacerBar
}

.navRow {
    background-color: rgba($color: $white-color, $alpha: .5);
}

.navButt {
    @extend .navRow;
    border-radius: $round-me;
    box-shadow: $butt-shadow;
    &:hover {
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: $dark-color;
    }
}